@import "tailwindcss";
@plugin 'tailwind-scrollbar-hide';

@theme inline {
  --font-main: var(--font-nunito-sans);
  --font-paris2024: var(--font-paris2024);
  --font-inter: var(--font-inter);
}

@theme {
  --color-soft-gold: #d4c47e;
  --color-deep-blue: #1a18bb;
  --color-soft-pink: #ffeaea;
  --color-silver: #d9d9d9;
  --color-gold: #ffd964;
}
